.thumbnail {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    margin-bottom: 30px;
}

.thumbnail img {
    width: 100%; 
    max-width: 1000px; 
    border-radius: 15px;
    min-width: none;
}

.blog-post {
    margin: 0 auto;
    max-width: 800px;
}

.blog-post p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.blog-post h2 {
    font-size: 32px;
}
.blog-post h3 {
    font-size: 24px;
    margin-bottom: 15px;
}
.blog-post h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.publish-date {
    text-align: center; /* Center the date text */
    font-size: 16px;    /* Smaller font size */
    color: #a0a3d1;     /* Light color for contrast */
    margin-bottom: 20px; /* Space between the date and the thumbnail */
}

@media (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .thumbnail img {
        max-width: 100%;
        height: auto;
    }
}

/* General styles for the table container */
.table-container {
    margin: 30px 0; /* Space around the table */
    overflow-x: auto; /* Allow horizontal scroll for small screens */
}

/* Style for the table itself */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #2a2d3e; /* Dark background for table */
    border-radius: 10px;
    overflow: hidden; /* Rounded corners */
    color: white; /* Text color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

/* Table headers */
.styled-table thead tr {
    background-color: #3a3d4e; /* Slightly lighter background for headers */
    color: #a0a3d1; /* Light gray-blue color for header text */
    text-align: left;
    font-weight: bold;
}

.styled-table th, .styled-table td {
    padding: 15px 20px; /* Padding inside cells */
    border-bottom: 1px solid #44475a; /* Border for rows */
}

/* Alternate row colors for the body */
.styled-table tbody tr {
    background-color: #2a2d3e; /* Default row color */
    transition: background-color 0.3s ease;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #1e2130; /* Slightly darker for alternate rows */
}

.styled-table tbody tr:hover {
    background-color: #3a3d4e; /* Change color on hover */
}

/* Table cell text alignment */
.styled-table td {
    color: #e6e6e6; /* Lighter color for text */
    font-size: 16px;
    text-align: left; /* Consistent alignment for all cells */
}
