.thumbnail {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    margin-bottom: 30px;
}

.thumbnail img {
    width: 100%; 
    max-width: 1000px; 
    border-radius: 15px;
    min-width: none;
}

.blog-post {
    margin: 0 auto;
    max-width: 800px;
}

.blog-post p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.blog-post h2 {
    font-size: 32px;
}
.blog-post h3 {
    font-size: 24px;
    margin-bottom: 15px;
}
.blog-post h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.publish-date {
    text-align: center; /* Center the date text */
    font-size: 16px;    /* Smaller font size */
    color: #a0a3d1;     /* Light color for contrast */
    margin-bottom: 20px; /* Space between the date and the thumbnail */
}

@media (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .thumbnail img {
        max-width: 100%;
        height: auto;
    }
}